body {
  background: #f2f5f8;
  font-family: Arial, sans-serif;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;
  margin: 0 auto;
}

input, button {
  width: 100%;
  padding: 10px;
}

h1 {
    color: #006dcc;
    font-size: 32px;
    margin-top: 40px;
    font-weight: bold;
}

.login-box {
    margin-top: 20px;
    margin-bottom: 50px;
}

.login-box label {
    font-size: 18px;
    margin-right: 8px;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

input {
  padding: 12px;
  width: 220px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 12px 25px;
  width: 200px;
  background-color: #0b6edc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-conta {
  padding: 12px 25px;
  width: 200px;
  background-color: #0b6edc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

