body {
    font-family: Arial, sans-serif;
    background: #eef2f6;
}

    .container {
        width: 430px;
        margin: 40px auto;
        background: white;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 5px 5px 15px #d1d9e6,
                    -5px -5px 15px white;
        text-align: center;
    }
        .container h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: bold;
    }

    input, select {
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
        margin-top: 10px;
        font-size: 16px;
    }

    button {
        width: 100%;
        padding: 15px;
        margin-top: 15px;
        background: #006aff;
        border: none;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
    }


    .secondary-btn {
        background: #0b63ff;
    }

.btn:hover {
    background: #0b5ed7;
}

.btn-link {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    text-decoration: none;
    background: #0d6efd;
    color: white;
    border-radius: 6px;
}


    .error {
        color: red;
        margin-bottom: 10px;
        font-weight: bold;
    }

.sucesso {
    background: #b3ffb3;
    color: #060;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}




