body {
    background: #f2f5f8;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #006dcc;
    font-size: 32px;
    margin-top: 40px;
    font-weight: bold;
}

.tabela-container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

th {
    background: #0078d7;
    color: white;
    padding: 14px;
    border: 1px solid #005caa;
}

td {
    background: white;
    padding: 12px;
    border: 1px solid #ccc;
}

.inputs {
    margin-top: 30px;
    font-size: 18px;
}

.inputs input {
    padding: 8px;
    margin: 5px;
}

.btn-add {
    background: #0078d7;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.btn-add:hover {
    background: #005caa;
}

.btn-del {
    background: #d73333;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-del:hover {
    background: #a31f1f;
}

