body {
    background: #f2f5f8;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #006dcc;
    font-size: 32px;
    margin-top: 40px;
    font-weight: bold;
}

.login-box {
    margin-top: 20px;
    margin-bottom: 50px;
}

.login-box label {
    font-size: 18px;
    margin-right: 8px;
}

.login-box input {
    margin-bottom: 10px;
    padding: 5px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.blue-button {
    background: #0078d7;
    color: white;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #005caa;
    margin: 0 5px;
    transition: background 0.3s;
}

.blue-button:hover {
    background: #005caa;
}



/*-------------------------*/


.container {
    width: 430px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d1d9e6,
                -5px -5px 15px white;
    text-align: center;
}


input,
select {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 12px;
    font-size: 16px;
}

/* ---------------- BUTTONS ---------------- */

button,
.btn-add {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background: #0078d7;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover,
.btn-add:hover {
    background: #005caa;
}

/* Delete button */
.btn-del {
    background: #d73333;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-del:hover {
    background: #a31f1f;
}

/* ---------------- TABLE STYLES (DESPESAS ETC) ---------------- */

.tabela-container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

th {
    background: #0078d7;
    color: white;
    padding: 14px;
    border: 1px solid #005caa;
}

td {
    background: white;
    padding: 12px;
    border: 1px solid #ccc;
}

.inputs {
    margin-top: 30px;
    font-size: 18px;
}

.inputs input {
    padding: 10px;
    margin: 5px;
}